.centered-text {
    font-size: 10vw;
    color: #333;
    text-align: center;
    animation: moveText 5s linear infinite alternate;
}

@keyframes moveText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(50%);
    }
}
